In [1]:
import pandas as pd
        
源文件 = pd.read_csv('data/BOSTON/源文件.csv')
源文件

,business_id,date_time,reviewer_id,text_length_month,starts_month,engagement_month,tastiness_score_month,service_score_month,location_score_month,price_score_month,atmosphere_score_month,general_score_month
0,-00d-Qb0q2TcWn-8LBHDZg,2012-09-30,1,229.0,5.0,12.0,0.850468,0.562493,0.636740,0.462875,0.388009,0.580117
1,-00d-Qb0q2TcWn-8LBHDZg,2012-10-31,2,98.5,5.0,17.0,0.284572,0.123267,0.361571,0.113569,0.226247,0.221845
2,-00d-Qb0q2TcWn-8LBHDZg,2012-11-30,1,56.0,4.0,4.0,0.818024,0.667397,0.594720,0.919603,0.601348,0.720218
3,-00d-Qb0q2TcWn-8LBHDZg,2012-12-31,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,-00d-Qb0q2TcWn-8LBHDZg,2013-01-31,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
266350,zyNQhunb1mcSUUbnqVcU1w,2019-10-31,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266351,zyNQhunb1mcSUUbnqVcU1w,2019-11-30,1,127.0,4.0,0.0,0.815822,0.734018,0.527671,0.678694,0.601340,0.671509
266352,zyNQhunb1mcSUUbnqVcU1w,2019-12-31,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266353,zyNQhunb1mcSUUbnqVcU1w,2020-01-31,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266354,zyNQhunb1mcSUUbnqVcU1w,2020-02-29,1,43.0,3.0,0.0,0.511871,0.470379,0.529636,0.498316,0.529887,0.508018

In [ ]:
#df对象中除了编码前列和business_id列和date_time列，其余列都*1000
df.iloc[:,2:]=df.iloc[:,2:]*1000
df['编码前'] = df.groupby('id').ngroup()
df.head()

In [5]:
import numpy as np
pems=np.load("data/PEMS08/pems08.npz")
pems["data"].shape

(17856, 170, 3)

In [6]:
rearranged = pems["data"][:, :, [1, 2, 0]]
np.savez("data/PEMS08/pems08.npz", data=rearranged)